{CABECALHO}
<head>
    {META}

    {CSS}

    {JS}

    {JAVASCRIPT}

    {VALIDACAO}

    {TITLE}

    {COMPONENTES}

    {MODAIS}
</head>

<body>
    <div class="lala" id="lala">
        <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" class="main-table">
            <tr>
                <td valign="top">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="90%" valign="top">
                                <img src="img/pixel.gif" width="100" height="110">
                            </td>
                            <td width="10%" valign="top">{NAV}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td valign="top">
                    <table width="100%" border="0" cellspacing="5" cellpadding="5">
                        <tr>
                            <td valign="top">{MENU}</td>
                        </tr>
                    </table>
                    <table width="100%" border="0" cellspacing="5" cellpadding="5">
                        <tr>
                            <td valign="top" align="center">
                                <div class="titulo_home" style="margin-top: 0px; margin-bottom: 0px;"><img src="img/sejabemvindo.png"></div>
                                <span class="texto_titulo_tabela" style="color:#444;" >{LEG01}</span><br>
                                <span style="color:#7b8db1;">{LEG06}Último Acesso {ULTACESSO}</span>
                            </td>                            
                        </tr>
                        <tr>
                            <td align="center">
                                <br>
                                <strong>Saldo na Conta de SMS: {SALDO}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <form name="form1" id="form1" method="post" action="?" enctype="multipart/form-data">                                
                                    {HIDDENS}                                    

                                    {INFOACAO}
                                    
                                    {FILTROS}                                                                        

                                    {TABELALISTA}

                                    {PAGINACAO}
                                </form>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>                                                        </td>
            </tr>

        </table>
        {MODALCOMP}
        <!-- {TEMA} -->
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="5" class="rodape-table">
        <tr>
            <td>
                <div align="center">
                    {RODAPE}
                </div>
            </td>
        </tr>
    </table>
</body>
</html>

