{CABECALHO}
<head>

    {META}

    {CSS}

    {JS}

    {JAVASCRIPT}

    {VALIDACAO}

    {TITLE}

    {COMPONENTES}

    {MODAIS}
</head>

<body>
    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
        <div class="tbtitle">Sistema de Gerenciamento de Conteúdo<img src="../sys/img/cadeado.png"></div>

        <tr>
            <td valign="top">
                <div class="tblogo">
                    <a href="http://www.equipedigital.com" target="_blank">
                        <img src="../sys/img/marcaedcapa.png" width="100%">
                    </a>
                </div>
                <div align="center">
                    <a href="http://www.equipedigital.com" target="_blank">
                        <img src="img/pixel.gif" width="100%" height="300" border="0">
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <div class="tblogin">
                    <form name="form1" method="post" action="?">

                        {HIDDENS}

                        {TABELAFORM}

                    </form>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
                        <td>
                            <div align="center">
                                {RODAPE}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {MODALCOMP}
</body>
</html>

